* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #b91450;
    padding-bottom: 40px;
}

/* SEZIONE INPUT PER CALCOLARE PREZZO BIGLIETTO */
h1{
    margin: 0 auto ;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.box_input {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.c_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

label {
    color:  #b91450;
    font-weight: 500;
}

input {
    text-align: center;
}

.row_button button {
    margin: 20px;
    padding: 5px;
    border-radius: 5px; 
    color:  #b91450;
    background-color: #cccccc;
    font-weight: bolder;
}





/* SEZIONE BIGLIETTO GENERATO */

#display_none {
    display: none;
}
  
#box_ticket {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    text-align: center;
}

#box_ticket h2 {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: start;
    font-size: 25px;
}

#box_ticket #ticket_pass {
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.bg_gray {
    background-color: gray;
    padding: 5px 20px;
}

#box_ticket #ticket_pass div:not(:first-of-type) {
    margin: 5px 20px;
}

@media screen and (max-width: 768px) {

    .box_input .row , 
    #box_ticket #ticket_pass {
        display: flex;
        flex-direction: column;
    }

    .box_input .row .col {
        width: 90%;
    }
}